.App {
  text-align: center;
}

.App-header {
  background-color: #222;
  height: 70px;
  padding: 20px;
  color: white;
  margin-bottom: 20px;
}

.App-title {
  font-size: 2em;
}

.picture {
  display: flex;

  flex-direction: row;

  flex-wrap: wrap;

  align-content: center;

  width: 200px;

  height: 200px;
}

.menuItem {
  display: grid;
  align-items: baseline;
  justify-items: center;
  padding-top: 30px;
  padding-bottom: 30px;
}


.pizzaName{
  font-style: italic;
  font-size: 40px;
}